body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    color: #d4d4d4;
}

.container {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.mode-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    padding: 0.5rem;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    background-color: #000000;
}

.mode-switch button {
    background: none;
    border: none;
    color: #d4d4d4;
    font-size: 1.7rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    position: relative;
}

.mode-switch button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: #1f1f1f;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
    z-index: -1;
}

.mode-switch button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.mode-switch button.active {
    color: #E0218A;
    font-weight: bold;
}

.timer-container {
    position: relative;
    width: 360px;
    height: 350px;

}

#progress-ring {
    position: absolute;
    top: 0;
    left: 0;
}

#background-circle {
    fill: none;
    stroke: #5f5f5f; /* Background circle color */
    stroke-width: 4;
    filter: url(#glow);
}

#progress {
    fill: none;
    stroke: #E0218A;
    stroke-width: 4;
    stroke-dasharray: 753.6; /* Circumference of the circle (2 * Ï€ * 120) */
    stroke-dashoffset: 753.6;
    transition: stroke-dashoffset 1s linear;
    transform-origin: 180px 180px;
    transform: rotate(-90deg);
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
}

#time[contenteditable="true"]:focus {
    outline: none;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    background-color: #000000;
}

.controls button {
    background: none;
    border: none;
    color: #d4d4d4;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
}

.controls button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
    z-index: -1;
}

.controls button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.controls button.active {
    color: #E0218A;
    font-weight: bold;
}